<%include ./partials/header %>

<div class="row">
  <h1 style="text-align:center">Sign Up!</h1>
  <div style="width: 30%; margin: 30px auto;">
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="username">
          <input
            class="form-control"
            type="text"
            name="username"
            placeholder="username"
          />
        </label>
      </div>
      <div class="form-group">
        <label for="adminCode">
          <input
            class="form-control"
            type="password"
            name="adminCode"
            placeholder="Admin code"
          />
        </label>
      </div>
      <div class="form-group">
        <label for="password">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="password"
          />
        </label>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
      </div>
    </form>
    <a href="/campgrounds">Go back</a>
  </div>
</div>

<%include ./partials/footer %>
